# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/

# Environment variables
.env
*.pem

# OS files
.DS_Store

# Editor settings
.vscode/
.idea/

# Logs
*.log
target/
dbt_modules/
dbt_packages/
logs/
secrets.json

gold_ticker_big_trade.sql

